<div class="chat-box">
  <p><%= @question %></p>
  <p><em>-You</em></p>
</div>
<div id="coach" class="chat-box">
  <p><strong><%= @answer %></strong></p>
  <p><em>-The coach</em></p>
</div>

<%= link_to "Ask another question", 'ask' %>
